
<style>

#pop {
 width: max-content;  
 height: max-content;  

  background-color:red;
  position:fixed;
     background: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 140, 109, 0.3) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.2) 0px 18px 36px -18px inset;
  z-index:999;
  
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  padding:25px;
 
 border:1px solid rgba(0,140,109,0.3);

}


#pop h4 {
  color: black;
}
#pop input,
#pop input[type="radio"] + label,
#pop input[type="checkbox"] + label:before,
#pop select option,
#pop select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;

  
 
 
}





#pop input:focus {
  outline: 0;
  border-color: rgb(0,140,109);
}
#pop input:focus + .input-icon i {
  color: rgb(0,140,109);
}
#pop input:focus + .input-icon:after {
  border-right-color: rgb(0,140,109);
}
#pop input[type="radio"] {
  display: none;
}
#pop input[type="radio"] + label,
#pop select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
#pop input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#pop input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#pop input[type="radio"] + label i {
  padding-right: 0.4em;
}
#pop input[type="radio"]:checked + label,
#pop input:checked + label:before,
#pop select:focus,
#pop select:active {
  background-color: rgb(0,140,109);
  color: #fff;
  border-color: rgb(0,140,109);
}
#pop input[type="checkbox"] {
  display: none;
}
#pop input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
#pop input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
#pop input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: 'Century Gothic';
  content: "\f00c";
}
#pop input:checked + label:after {
  opacity: 1;
}
#pop select {
  height: 3.4em;
  line-height: 2;
}
#pop select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#pop select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#pop select:focus,
#pop select:active {
  outline: 0;
}
#pop select option {
  background-color:rgb(0,140,109);
  color: #fff;
}
#pop .input-group {
  margin-bottom: 1em;
  zoom: 1;
}
#pop .input-group:before,
#pop .input-group:after {
  content: "";
  display: table;
}
#pop .input-group:after {
  clear: both;
}
#pop .input-group-icon {
  position: relative;
}
#pop .input-group-icon input {
  padding-left: 4.4em;
}
#pop .input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
#pop .input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid rgb(0,140,109);
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#pop .input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#pop .container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
#pop .row {
  zoom: 1;
}
#pop .row:before,
#pop .row:after {
  content: "";
  display: table;
}
#pop .row:after {
  clear: both;
}
#pop .col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
#pop .col-half:last-of-type {
  padding-right: 0;
}
#pop .col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
#pop .col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  #pop .col-half {
    width: 100%;
    padding-right: 0;
  }

   #pop {
    width: 100vw;
    height:(100vh);
    
    
     top:0;
    left:0;
    right:0;
    bottom:0;

     box-shadow: rgba(0, 140, 109, 0.3) 0px 30px 60px -20px inset, rgba(0, 0, 0, 0.2) 0px 18px 36px -20px inset;


      position: fixed;
        overflow: hidden;
     
        
        transition: 0.3s;
        border:2px solid rgba(0,140,109,0.3);
      

  }

 #pop form h4 {font-size:15px;}
 #pop .input-group-icon .input-icon {

  width: 3.4em;
  height: 2.5em;
  line-height: 2.5em;
 
}

#pop input,
#pop input[type="radio"] + label,
#pop input[type="checkbox"] + label:before,
#pop select option,
#pop select {

height:2.5em;
 
}

#pop select option,
#pop select,#pop input[type="radio"] + label,
#pop input[type="checkbox"] + label:before {

 padding: 0.25em;

}

#success img
{

width:25px;
height:25px;
display:none;

}

#BTNclose
{

 
    top: 50px;
    right: 0px;
    

}


  
}


#BTNclose
{
border:0;
background-color:transparent;
width:40px;
height:40px;
 position: absolute;
 
    top: 0px;
    right: 0px;
}


#BTNclose:hover
{

background-color:rgb(0, 140, 109);
color:white;

}


#success
{


position:relative;
z-index:999999;

text-align:center

}

#success img
{
width:80px;height:auto; position: absolute;
  top: -40px;
  bottom: 0;
  margin: auto 0;
  }
#error{display:none;}
#error label{font-weight:bold;}


</style>






 <div class="container" id="pop" >
         
          <button id="BTNclose" >  <i class="fa fa-close fa-lg"></i>    </button>
         		
<div class="container" id="formation_detail" style="margin-top:140px">
    <div class="main-body">
    
    <div class="section-title" data-aos="fade-up">
          <h2>Formation</h2>
          <p  style="color:rgb(0,140,109)"></p>
        </div>
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/OIO.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>PR.aaki</h4>
                    
                      <p class="text-muted font-size-sm"></p>
                   
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bx bx-help-circle icon-help"></i>Durée</h6>
                    <span class="text-secondary"> </span>
                  </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bx bx-help-circle icon-help"></i>Lieu</h6>
                    <span class="text-secondary"></span>
                  </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bx bx-help-circle icon-help"></i>Formateur</h6>
                    <span class="text-secondary"></span>
                  </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bx bx-help-circle icon-help"></i>Type</h6>
                    <span class="text-secondary"> </span>
                  </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bx bx-help-circle icon-help"></i>Prix</h6>
                    <span class="text-secondary">15 DA</span>
                  </li>




         
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Qui peut se former ?</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    <ul>
                      <li>  </li>


                        </ul>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">A la fin de la formation</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                   
                    </div>
                  </div>
                  <hr>

                    <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Contact</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                 
                    </div>
                  </div>
                  <hr>
               
             
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="button-71" id="BTNins">Inscription </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">

            
                 
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">

                      <h4 class="d-flex align-items-center mb-3">bfuef fjeif</h4>


                      <small> hello</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      
                    
                      <small>title</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                
                     
                    </div>
                  </div>
                </div>

               

                 

               
              </div>



            </div>
          </div>

        </div>
    </div>
 
</div>




